body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
  ;
}

.bio {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

div {
  background-color: #E4F9F5;
}

p {
  line-height: 2;
}


a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:blue;
  text-decoration: underline;
}
th{
  text-align: center;

}
.family-img{
  width: 700px;
  margin:0;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
  font-family: cursive;
  font-weight: 900;
  color: black;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.fan-pic {
  height: 200px;
  margin: auto;
  align: left;

  }
.cabinet-pic {
margin-bottom:33.33%;
}
.F{
  padding-right: 1670px;
}

.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css3-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.catagories-table{
  border: 10px black;
}
.fan-img{
  padding-top: 10px;

}
.pic1{
  width:100px;

}
.message{
  color: red;
  font-family: 'Montserrat', sans-serif;
}
.pic2{
  width:100px;
}
.pic3{
  width: 100px;
}

.C1{
  padding-left: 100px;
  padding-top: -100px;
}
.bio {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-top:-10px;
}
.text{
  color: rgb(255	113	97);
  font-size: 100px;
}
.footer-link {
  color: #11999E;
}

.skill-row {
  display: inline-block;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.description {
  color: #40514e;
  text-align: center;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.message1{
font-family: 'Montserrat', sans-serif;
color:blue;
margin-top: 10px;

}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 100;
  padding: 10px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75em;
  padding: 20px 0px;
  font-family: 'Montserrat', sans-serif;
}
